body{
    font-family: "Segoe UI";
    font-size: 15pt;
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

.wrapper{
  position: absolute;
  min-width: 100%;
}

a{
  text-decoration: none;
}

/* Home Page * ---------------------------------------------------------------------*/

.main_bar{
  background-color: rgb(24, 131, 7);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 100%;
  margin-left: 0.8rem;
}

.menu{
  display: flex;
  gap: 1.5rem;
  margin-right: 1.5rem;
}

.menu1, .menu2{
  display: flex;
  gap: 1.5rem;
}

@media only screen and (max-width: 440px){
  .menu1, .menu2{
    flex-direction: column;
    gap: 0.3rem;
  }

  .menu{
    margin-right: 15%;
  }
}

.menu_link{
  color: white;
  font-size: 1rem;
}

.menu_link:hover{
  opacity: 0.7;
}

.welcome_box{
  display: flex;
  flex-direction: column;
  gap: 8vh;
  width: 100%;
  height: 95vh;
  background-image: url(/images/main_home_image.jpg);
  background-size: cover;
  background-position: center center;
  background-color: rgb(83, 78, 78);
  opacity: 0.77;
  background-blend-mode: darken;
}

.welcome_title, .welcome_subtitle{
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
  text-align: center;
}

.welcome_title{
  margin-top: 10vh;
  font-size: 2.8rem;
  font-weight: bold;
}

.welcome_subtitle{
  font-size: 1.7rem;
  font-weight: 600;
}

.welcome_link_box{
  margin-top: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
  height: 5.7rem;
  background-color: rgb(23, 131, 7);
  border-radius: 0.4rem;
  display: flex;
  gap: 3.5rem;
}

.link_button{
  background-color: white;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.6rem;
  margin-top: auto;
  margin-bottom: auto;
  transition-duration: 100ms;
}

.link_button:hover{
  transform: scale(1.1);
}

.routes_arrow{
  font-size: 1.3rem;
  color: black;
  margin-left: 0.5rem;
}

.welcome_link_info{
  color: white;
  margin-left: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-height: 1290px){
  .welcome_box{
    gap: 5vh;
  }
}

@media only screen and (min-width: 1600px){
  .routes_arrow{
    margin-top: 0.2vw;
  }
}

@media only screen and (min-width: 1290px){
  .welcome_title{
    font-size: 3vw;
  }

  .welcome_subtitle{
    font-size: 2vw;
  }

  .welcome_link_box{
    width: 27vw;
    height: 7vw;
    gap: 5vw;
  }

  .welcome_link_info{
    font-size: 1.3vw;
    margin-left: 1.8vw;
    border-radius: 0.5vw;
  }

  .link_button{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 0.65vw;
  }

  .routes_arrow{
    margin-left: 0.6vw;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 400px){
  .welcome_link_box{
    width: 19.2rem;
    height: 4.9rem;
    gap: 1.3rem;
  }

  .welcome_title{
    font-size: 2.4rem;
  }

  .welcome_subtitle{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1260px){
  .welcome_box{
    height: 37rem;
  }

  .welcome_title, .welcome_subtitle{
    width: 70%;
  }
}

@media only screen and (max-width: 904px){
  .welcome_box{
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 800px){
  .welcome_title, .welcome_subtitle{
    width: 90%;
  }
}

.text_container{
  margin-top: 3.5rem;
  width: 55rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.top_text, .bottom_text{
  display: flex;
  align-items: center;
}

.bottom_text{
  gap: 5rem;
}

.top_text{
  gap: 4rem;
}

.text_image1, .text_image2{
  width: 45%;
}

@media only screen and (max-width: 910px){
  .top_text, .bottom_text{
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
  }

  .text_container{
    width: 75%;
  }

  .top_text{
    flex-direction: column;
  }

  .bottom_text{
    flex-direction: column-reverse;
  }

  .text_image1, .text_image2{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.link_container{
  display: flex;
  flex-direction: column;
  gap: 5.5vw;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px){
  .link_container{
    margin-top: -3vw;
  }
}

.link_box{
  border-left: rgb(168, 157, 2) 2px solid;
  padding-left: 1.8vw;
}

.link_box:hover .link{
  transform: translateX(2.4vw);
}

.link{
  color: rgb(168, 157, 2); 
  font-size: 2rem;
  transition: transform 300ms ease-in-out;
  display: flex;
  gap: 3vh;
  align-items: center;
}

.arrow{
  margin-top: 1.5vh;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1290px){
  .link{
    font-size: 2rem;
  }

  .arrow{
    font-size: 1.4rem;
    margin-top: 0.55rem;
  }

  .link_container{
    gap: 3.2rem;
  }
}

@media only screen and (max-width: 638px){
  .link{
    font-size: 4.6vw;
  }

  .arrow{
    font-size: 3vw;
  }
  
  .link_container{
    margin-top: -2.2rem;
  }
}

@media only screen and (max-width: 770px){
  .arrow{
    margin-top: 1vh;
  }
}

@media only screen and (max-width: 540px){
  .arrow{
    margin-top: 0.6vh;
  }
}

@media only screen and (max-width: 400px){
  .arrow{
    margin-top: 0.3vh;
  }
}

.contact_bar{
  height: 5rem;
  background-color: rgb(24, 131, 7);
  margin-top: 5vw;
  align-items: center;
  display: flex;
}

.contact_menu{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.return_arrow{
  color: white;
  font-size: 1.5rem;
  transition: transform 100ms;
  margin-left: 5rem;
}

.return_arrow:hover{
  transform: scale(1.2);
}

.con1, .con2, .con3{
  color: white;
  font-size: 1rem;
}

.con2:hover{
  opacity: 0.7
}

@media only screen and (min-width: 1300px){
  .contact_bar{
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 700px){
  .contact_menu{
    flex-direction: column;
    width: auto;
  }

  .return_arrow{
    margin-left: 0;
  }

  .contact_bar{
    justify-content: space-evenly;
  }
}

/* Equipment Page -----------------------------------------------------------------------------------------------------------------*/

#welcome_box_equipment{
  background-image: url(/images/main_equipment_image.jpg);
  height: 23vw;
  background-color: rgb(50, 50, 50);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  gap: 7%;
}

#welcome_title_equipment{
  color: rgb(198, 198, 198);
  font-size: 3.9vw;
  opacity: 0.9;
  margin-top: 2vw;
}

.welcome_link_equipment_box{
  background-color: rgb(23, 131, 7);
  border-radius: 0.5vw;
  height: 4.5vw;
  width: 13vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.welcome_link_equipment_box:hover .welcome_link_equipment_text{
  opacity: 0.65;
}

.welcome_link_equipment_box:hover .down_arrow{
  opacity: 0.65;
}

#bikes_link{
  margin-left: auto;
  margin-right: auto;
}

#bikes_arrow{
  margin-right: 1.2vw;
}

#accessories_box{
  justify-content: space-evenly;
}

.welcome_link_equipment_text{
  color: white;
  font-size: 1.7vw;
}

.down_arrow{
  color: white;
  font-size: 1.5vw;
}


@media only screen and (max-width: 1285px){
  #welcome_title_equipment{
    font-size: 3.2rem;
  }

  .down_arrow{
    font-size: 1.2rem;
  }

  #welcome_box_equipment{
    height: 20rem;
  }

  .welcome_link_equipment_box{
    height: 3.4rem;
    width: 10.9rem;
    border-radius: 0.4rem;
  }

  .welcome_link_equipment_text{
    font-size: 1.3rem;
  }

  #bikes_arrow{
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 518px){
  #welcome_box_equipment{
    gap: 5%;
  }

  #welcome_title_equipment{
    font-size: 3rem;
  }
}

.equipment_container{
  display: flex;
  gap: 4%;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.all_equipment{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.vertical_line_equipment{
  border-left: 1.8px solid rgb(23, 131, 7);
}

.horizontal_line_equipment{
  height: 0.9px;
}

#horizontal_line_equipment_bikes{
  margin-top: -1.25rem;
}

.equipment_info{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.link_equipment_info{
  font-size: 1.2rem;
  color: rgb(23, 131, 7);
  font-weight: bold;
}

.link_equipment_info:hover{
  opacity: 0.65;
}

.equipment_info_heading{
  text-align: center;
}

.bike_image{
  border-radius: 22%;
  width: 34rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.7rem;
}

.accessories{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.bike_tools{
   list-style: none;
   margin-left: 2rem;
}

.bike_tools li{
  font-style: italic;
}

.bike_tools li::before{
  content: "\2022";
  margin-right: 1rem;
  font-size: 1.45rem;
}

@media only screen and (max-width: 1050px){
  .bike_image{
    width: 100%;
  }
}

.recommendations{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recommendations_heading{
  text-align: center;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.item_links_list{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.item_link::before{
  content: "\2022";
  margin-right: 1rem;
  font-size: 1.6rem;
}

.item_link{
  color: rgb(23, 131, 7);
}

.item_link:hover{
  opacity: 0.55;
}

#recommendations_line{
  display: none;
}

@media only screen and (max-width: 700px){
  .equipment_container{
    flex-direction: column;
  }

  .equipment_info{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  #recommendations_line{
    display: block;
  }
}

/*----------------------------------------------------------------*/
.link_container_equipment{
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 26rem;
}

.link_box_equipment{
  border-left: rgb(168, 157, 2) 2px solid;
  padding-left: 1.4rem;
}

.link_box_equipment:hover .link_equipment{
  transform: translateX(2.4vw);
}

.link_equipment{
  color: rgb(168, 157, 2); 
  font-size: 2rem;
  transition: transform 300ms ease-in-out;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.arrow_equipment{
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 468px){
  .link_container_equipment{
    width: 21.8rem;
  }

  .link_equipment{
    font-size: 1.63rem;
  }

  .arrow_equipment{
    font-size: 1.27rem;
  }
}

@media only screen and (max-width: 400px){
  #menu_equipment{
    gap: 1.3rem;
  }
}

.all_equipment_contact_bar{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/*clubs page ---------------------------------------------------------------------------*/

#welcome_box_clubs{
  height: 19vw;
  background-image: url(/images/main_club_image.jpg);
  background-blend-mode: multiply;
  background-color: rgb(44, 44, 44);
}

@media only screen and (max-width: 1290px){
  #welcome_box_clubs{
    height: 15rem;
  }
}

#welcome_title_clubs{
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.7;
}

#text_container_clubs{
  margin-top: 2.4rem;
}

.club_info{
  display: flex;
  gap: 2rem;
}

.velo_image, .rouleurs_image{
  width: 50%;
}

.velo, .rouleurs{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.clubs_heading{
  margin-left: auto;
  margin-right: auto;
  font-size: 2.1rem;
}

hr{
  background-color: rgb(23, 131, 7);
  width: 100%;
  height: 0.6px;
  margin-left: auto;
  margin-right: auto;
}

.clubs_text_link{
  color: rgb(23, 131, 7);
  font-weight: bold;
}

.clubs_text_link:hover{
  opacity: 0.65;
}

@media only screen and (max-width: 960px){
  .club_info{
    flex-direction: column;
  }

  .velo_image, .rouleurs_image{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #club_info_rouleurs{
    flex-direction: column-reverse;
  }

  #text_container_clubs{
    width: 80%;
  }

  .clubs_heading{
    text-align: center;
  }
}

/*Routes Page -----------------------------------------------------------------------------------*/
#welcome_box_routes{
  height: 20rem;
  background-image: url(images/main_routes_image.jpg);
  background-blend-mode: multiply;
  background-color: rgb(90, 90, 90);
  opacity: 0.73;
  flex-direction: column;
  gap: 2.7rem;
}

#welcome_title_routes{
  color: rgb(165, 165, 165);
  margin-top: 3rem;
}

.welcome_routes_link_box{
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
  height: 5rem;
  background-color: rgb(23, 131, 7);
  border-radius: 0.45rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcome_routes_link{
  color: white;
}

.welcome_routes_link_box:hover .wrlh{
  opacity: 0.64;
}

@media only screen and (min-width: 1295px){
  #welcome_box_routes{
    height: 25vw;
    gap: 3.2vw;
  }

  #welcome_title_routes{
    font-size: 3.5vw;;
  }

  .welcome_routes_link, #down_arrow_equipment{
    font-size: 1.45vw;
  }

  .welcome_routes_link_box{
    width: 19.5vw;
    height: 6vw;
  }
}

.routes_top_container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 59rem;
  justify-content: space-evenly;
  margin-top: 2.9rem;
}

.routes_text{
  width: 35rem;
  margin-top: 0.75rem;
}

.joblab_image{
  height: 14rem;
  transition-duration: 100ms;
  border-radius: 0.34rem;
}

.caption{
  font-size: 0.8rem;
  width: 14rem;
  margin-top: 0.9rem;
}

.joblab_image:hover{
  transform: scale(1.07);
}

.routes_table_container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

.routes_table_title{
  width: 8rem;
  color: rgb(23, 100, 7);
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
}

thead th{
  background-color: rgb(23, 131, 7);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.c5{
  border-right-width: 3px;
}
th{
  border-right: white 1.25px solid;
  border-left: white 1.25px solid;
}

.th1{
  border-left: 0;
}

.th6{
  border-right: 0;
}

td{
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
 
td{
  border: rgb(23, 131, 7) 1.25px solid;
  border-collapse: collapse;
}

.c1, .c2, .c3{
  color: black;
  font-size: 1.15rem;
}

.table_link{
  border-left-width: 3px;
  transition: background-color 400ms ease-out;
}

table{
  border-spacing: 0;
}

.theader_link{
  color: white;
  opacity: 0.91;
}

.theader_link:hover{
  opacity: 0.7;
}

.route_title{
  pointer-events: auto;
  color: black;
  font-weight: 500;
}
.table_link:hover{
  background-color: rgb(150, 150, 150);
}

.table_link{
  pointer-events: none;
}

tbody tr:last-child td{
  border-bottom-width: 2.4px;
}

.link_container_routes{
  margin-left: auto;
  margin-right: auto;
  width: 29.8rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.link_container_routes a p{
  font-size: 2rem;
}

.link_container_routes a i{
  font-size: 1.4rem;
}

@media only screen and (max-width: 900px){
  .link_box:hover .link{
    transform: translateX(1.4rem);
  }
}

@media only screen and (max-width: 540px){
  .link_container_routes{
    width: 87.5vw;
    gap: 7vw;
    margin-top: 7vw;
  }

  .link_box:hover .link{
    transform: translateX(1.5rem);
  }

  .link_container_routes a p{
    font-size: 5.9vw;
  }

  .link_container_routes a i{
    font-size: 4.5vw;
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 963px) {
  .routes_top_container{
    width: 92%;
    justify-content: left;
    gap: 3rem;
  }

  .routes_text{
    width: 60%;
  }

  .ad{
    width: 35%;
  }

  .route_title, .c1, .c2, .c3, .c4, .c5{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 751px){
  .routes_top_container{
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }

  .routes_text{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .ad{
    display: none;
  }
}

@media only screen and (max-width: 518px){
  .route_title, .c1, .c4, .c5{
    font-size: 0.9rem;
  }

  .c2, .c3, .th3, .th4{
    display: none;
  }
}

/*Route Info Single Pages ----------------------------------------------------------------------------------------------------------------------->*/

.single_title{
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

@media only screen and (max-width: 990px){
  .single_title{
    display: none;
  }
}

.route_image_container{
  width: 100%;
  height: 35vw;
  position: relative;
}

.route_image{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.current{
  display: block;
  opacity: 1;
}

.transition_icon_container{
  z-index: 1;
  position: absolute;
  top: 16vw;
  left: 3%;
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.transition_icon_container i{
  color: white;
  font-size: 2rem;
  transition-duration: 150ms;
  opacity: 0.8;
}

.transition_icon_container i:hover{
  transform: scale(1.15);
} 

@media only screen and (max-width: 660px){
  .transition_icon_container i{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 490px){
  .transition_icon_container i{
    font-size: 1.2rem;
  }
}

.route_stats{
  width: 17rem;
}

.route_stats h3{
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  margin-right: 2rem;
}

.route_stats ul{
  list-style-type: none;
}

.route_stats ul li{
  margin-top: 1.5rem;
}

.route_stats ul li::before{
  font-size: 1.4rem;
  margin-right: 1rem;
  font-weight: 900;
}

#length::before{
  content: "\03B6";
}

#ascent::before{
  content: "\03C5";
}

#descent::before{
  content: "\03B4";
}

#gradient::before{
  content: "\03B8";
}

#route_type::before{
  content: "\03C4";
}

#start_parish::before{
  content: "\03B1";
}

#end_parish::before{
  content: "\03A9";
}

iframe{
  width: 55%;
}

.single_line{
  width: 90%;
}

.all_single_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top_single_container{
  display: flex;
  width: 87%;
  gap: 10vw;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1290px){
  .top_single_container{
    width: 85rem;
  }
}

@media only screen and (max-width: 970px){
  .top_single_container{
    flex-direction: column;
    gap: 4rem;
  }

  .route_stats{
    width: 100%;
  }

  iframe{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50vw;
  }

  .route_stats ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

@media only screen and (max-width: 564px){
  .route_stats ul{
    flex-direction: column;
    gap: 0.7rem;
  }

  .route_stats ul li{
   margin-left: 27%;
  }
}


@media only screen and (max-width: 490px){
  .route_stats ul li{
    margin-left: 22vw;
  }
}

@media only screen and (max-width: 410px){
  .route_stats ul li{
    margin-left: 17vw;
  }
}

.time_calc{
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.single_line{
  margin-top: 1rem;
}

.time_intro{
  margin-left: auto;
  margin-right: auto;
}

.time_heading, .time_intro{
  text-align: center;
}

.time_heading{
  font-size: 1.9rem;
  text-decoration: underline;
}

.calc{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.time_button{
  width: 13.2rem;
  height: 3.2rem;
  border-radius: 0.25rem;
  background-color: rgb(23, 131, 7);
  color: rgb(236, 234, 234);
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.time_button:hover{
  opacity: 0.83;
}

.time_box, .speed_box{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.time_box{
  gap: 2rem;
}

.speed_box{
  gap: 6rem;
}

.time_display, .speed{
  border: rgb(168, 157, 2) solid 2.5px;
  border-radius: 0.2rem;
  width: 7rem;
  height: 1.8rem;
  font-size: 1rem;
  text-align: center;
}

.time_display{
  font-weight: bold;
}

#contact_bar_single{
  margin-top: 3.8rem;
}

@media only screen and (max-width: 483px){
  .time_calc{
    width: 20rem;
  }
}
